{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_04_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_67315_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_67315_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11112_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11112_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11114_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11114_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11089_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11089_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11106_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11106_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11082_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11082_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11090_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11090_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11084_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11084_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11091_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11091_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_67314_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_67314_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11083_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11083_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11088_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11088_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11087_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11087_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11108_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11108_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11110_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11110_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11081_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11081_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11086_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11086_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_11085_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_11085_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_04_01_REF_FINREP_3_0_67316_REF'%}">F_04_01_REF_FINREP_3_0_F_04_01_REF_FINREP_3_0_67316_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
