{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Execute Datapoints</title>
</head>
<body>
<h1>F_05_01_REF_FINREP_3_0</h1>
<table border="1">
<a href="{% url 'pybirdai:report_templates'%}">Back to the PyBIRD Reports Templates Page</a>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408956_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408956_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152439_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152439_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152430_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152430_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152591_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152591_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408950_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408950_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152464_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152464_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152443_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152443_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152453_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152453_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408952_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408952_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152418_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152418_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152426_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152426_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152429_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152429_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408955_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408955_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152440_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152440_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152590_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152590_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408946_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408946_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152445_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152445_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408951_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408951_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152463_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152463_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152452_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152452_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152424_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152424_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152600_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152600_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152420_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152420_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408947_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408947_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152423_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152423_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408949_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408949_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152465_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152465_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152417_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152417_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152457_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152457_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152454_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152454_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152416_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152416_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408948_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408948_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152598_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152598_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152446_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152446_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152456_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152456_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152588_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152588_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152455_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152455_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408942_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408942_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152441_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152441_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152449_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152449_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152466_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152466_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408945_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408945_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152589_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152589_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152434_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152434_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152432_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152432_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152415_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152415_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152585_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152585_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152444_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152444_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152601_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152601_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152414_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152414_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152421_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152421_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_441809_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_441809_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152472_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152472_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152458_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152458_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152431_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152431_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152435_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152435_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152442_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152442_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152469_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152469_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152451_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152451_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152468_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152468_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152419_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152419_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152413_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152413_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152459_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152459_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152425_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152425_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152586_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152586_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152584_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152584_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152587_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152587_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152422_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152422_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152436_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152436_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152462_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152462_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152450_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152450_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152467_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152467_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408943_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408943_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_408944_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_408944_REF</a></td></tr>
<tr><td><a href="{% url 'pybirdai:execute_data_point' 'F_05_01_REF_FINREP_3_0_152433_REF'%}">F_05_01_REF_FINREP_3_0_F_05_01_REF_FINREP_3_0_152433_REF</a></td></tr>
</table>
</body>
</html>
</table>
</body>
</html>
{% endblock %}
